In [17]:
def print1ton(n):
    if n<=0:
        return
    print1ton(n - 1)
    print(n,end=" ")
print1ton(10)

1 2 3 4 5 6 7 8 9 10

In [14]:
def printnto1(n):
    if n<=0:
        return
    print(n,end=" ")
    printnto1(n - 1)
printnto1(10)

10 9 8 7 6 5 4 3 2 1

In [16]:
def PrintNameNtimes(i,n):
    if i>n:
        return
    print("Zayed")
    PrintNameNtimes(i+1,n)
PrintNameNtimes(1,10)

Zayed
Zayed
Zayed
Zayed
Zayed
Zayed
Zayed
Zayed
Zayed
Zayed

In [19]:
def sum1ton(n):
    if n <= 0:
        return 0
    s = sum1ton(n - 1)
    return s + n

result = sum1ton(10)
print(result)

55

In [6]:
def factorial(n):
    if n==1 or n==0:
        return 1
    return factorial(n - 1)*n
print(factorial(5))

120

In [12]:
def reversearray(arr,start,end):
    if start<end:
        arr[start],arr[end]=arr[end],arr[start]
        reversearray(arr, start + 1, end - 1)
    return arr
print(reversearray([1,2,3,4,5],0,4))#reversearray(arr,start=0,end=len(arr)-1)

[5, 4, 3, 2, 1]

In [14]:
def palindrome(s,start,end):
    if start<end:
        if s[start]!=s[end]:
            return False
        palindrome(s,start+1,end-1)
    return True
print(palindrome("zayaz",0,4))

True

In [18]:
def fibonacci(n):
    if n==0 or n==1:
        return n
    return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(8))

21